// Define variables for your color scheme

// For example:
$red: #FD1015;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;


$darkblue: rgb(0,0,139);
$royalblue: rgb(65,105,225);
$lightgray: rgba(250,250,250,0.9);
