// general

.container {
  width: 90%;
}

.subtitle {
  color: $royalblue;
}

.category-blue {
  color: $darkblue;
}

.category-white {
  color: $white;
  text-align: end;
}

// banner

.banner {
  background-color: $darkblue;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}

.banner .container {
  display: flex;
  justify-content: center;
}

.title-content {
  color: $lightgray;
  border-left: 4px solid $royalblue;
  padding-left: 16px;
}

.title-box {
  text-align: start;
  background-color: rgba(0,0,0,0.35);
  border-radius: 4px;
  padding: 12px;
  display: flex;
}


// about


.about {
  margin: 40px 0;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px 0px;
  font: 40px;
}

.pitch {
  text-align: justify;
  text-justify: inter-word;
  padding-right: 6rem;
  font-size: large;
}

.profile-picture {
  vertical-align: middle;
  border-style: none;
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.3);
  border-radius: 4px;
}


// services


.services-box {
  background-color: $darkblue;
  padding-top: 40px;
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  font-size: large;
  margin-top: 80px;
}

.icon {
  width: 40px;
}

.rails-icon {
  height: 40px;
  width: 100px;
}

.icon-box-figma {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.icons-subbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.title {
text-align: center;
}

.explaination {
  text-align: justify;
  text-justify: inter-word;
  height: 8rem;
}

.pitch-icons {
  display: grid;
  height: 80%;
}

.service-box {
  background: white;
  border-radius: 8px;
  padding: 24px 12px 0 12px;
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.3);
  margin-bottom: 80px;
}

// portfolio

.portfolio {
  margin-top: 40px;
}
