// general

.container {
  width: 90%;
}

.subtitle {
  color: $royalblue;
}

.category-blue {
  color: $darkblue;
}

.category-white {
  color: $white;
  text-align: end;
}

// banner

.banner {
  background-color: $darkblue;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}

.banner .container {
  display: flex;
  justify-content: center;
}

.title-content {
  color: $lightgray;
  border-left: 4px solid $royalblue;
  padding-left: 16px;
}

.title-box {
  text-align: start;
  background-color: rgba(0,0,0,0.35);
  border-radius: 4px;
  padding: 12px;
  display: flex;
}
