// general

.container {
  width: 90%;
}

.subtitle {
  color: $royalblue;
}

.categories {
  color: $darkblue;
}


// banner

.banner {
  background-color: $darkblue;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}

.banner .container {
  display: flex;
  justify-content: center;
}

.title-content {
  color: $lightgray;
  border-left: 4px solid $royalblue;
  padding-left: 16px;
}

.title-box {
  text-align: start;
  background-color: rgba(0,0,0,0.35);
  border-radius: 4px;
  padding: 12px;
  display: flex;
}


// about


.about {
  margin: 40px 0;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px 0px;
  font: 40px;
}

.pitch {
  text-align: justify;
  text-justify: inter-word;
  padding-right: 6rem;
  font-size: large;
}

.profile-picture {
  vertical-align: middle;
  border-style: none;
  box-shadow: 8px 8px 15px -4px lightgray;
  border-radius: 4px;
}
