.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(to right bottom, #f78f2a, #faab2f, #fac63c, #f7e151, #f3fb6b);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
