.navbar {
  position: fixed;
  width: 100%;
}

.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  padding: 0 16px;
  font-size: larger;
}

.contact {
  padding-right: 0px !important;
}

.navbar-light .navbar-nav .nav-link {
  color: royalblue;
  &:hover {
    color: $lightgray
  }
}

.navbar-light .navbar-nav .active .nav-link,{
  color: $lightgray;
}

.blue-navbar {
  background-color: $darkblue
}
